@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
}

.nav-links a {
  font-size: 10px;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px 10px 13%;
  height: 100%;
  position: fixed;
  width: 29%;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 70%;
  padding: 4px;
}

.nav-links a {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: fit-content;
  padding: 7px;
}

.nav-links a i {
  font-size: 20px;
  margin-right: 10px;
}

.nav-links a:hover,
.acc-info:hover {
  background-color: rgb(82, 82, 82);
  border-radius: 99999px;
}

.Explore {
  font-weight: 600;
}

.nav-links a:first-child {
  padding: 8px 8px;
}

.nav-links a:first-child i {
  margin: 0px;
}

.tweet-button {
  width: 90%;
  font-size: 14px;
  padding: 12px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  background-color: rgb(29, 155, 240);
  color: white;
  font-weight: bold;
  border-radius: 9999px;
  transition-duration: 0.2s;
}

.tweet-button:hover {
  background-color: rgba(29, 155, 240, 0.9);
}

/* Main Account */

.main-account {
  width: 90%;
  height: 30%;
  padding-top: 130px;
  color: white;
}

.acc-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  padding: 8px 10px 8px 15px;
}

.tweet-image {
  position: relative;
  top: 5px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.account-details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  flex-basis: 70%;
  margin-left: 10px;
}

.account_name {
  font-weight: 500;
}

.account_handle {
  color: rgb(110, 118, 125);
}
